<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body>

<header>
  <%- include('partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <c><h1>About Our team</h1></c>
    <p>
        Mayukh Borana (19UECC7020)               6375921490
    </p> 
    <p>     Priyadarshini Rathore (19UECC7050)     7615923185</p>
    <p> Dushyant Bhaskar(19UECC7009)           94628 93893</p>
    <p> Lokesh Singh (19UECC7018)                 8290048152</p>
        </p>
  </div>
  <div>
    <h1></h1>
  </div>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>