<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body>

<header>
  <%- include('partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1 style ="color: #1abc9c">Secured blockchain-based remote E-voting web/mobile App with ML</h1>
    <p>Welcome to templating using EJS</p>
  </div>
  <div>
    <h1>A More Secure And Supportive Paradigm Is Necessary</h1>
  </div>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>